<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="constructor">

    <context:property-placeholder location="classpath:db.properties"/>

    <bean id="datasource" class="org.postgresql.ds.PGSimpleDataSource">
        <property name="serverNames">
            <array value-type="java.lang.String">
                <value>${db.serverName}</value>
            </array>
        </property>
        <property name="databaseName" value="${db.databaseName}"/>
        <property name="portNumbers">
            <array value-type="int">
                <value>${db.port}</value>
            </array>
        </property>
        <property name="user" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <bean id="xmlPostgresConnector" class="org.example.xml.XMLPostgresConnector"/>
</beans>